body {
    background-color: #eee;
    min-height: 100vh;
    font-family: 'Be Vietnam Pro', sans-serif;
}

p {
    margin: 0;
}

/* Anchor Tags */

p a {
    color: red;
    text-decoration: none;
    transition: color 0.15s ease-in-out;
}

p a:hover {
    color: rgba(0, 0, 0, 0.7);
}

h2 a {
    color: inherit;
    text-decoration: none;
    transition: color 0.15s ease-in-out;
}

h2 a:hover {
    color: rgba(0, 0, 0, 0.7);
}

.container-fluid {
    padding: 0 2rem;
}

/* Navbar */

.navbar-container {
    background-color: #ddd;
}

.navbar-brand {
    font-family: 'Croissant One', sans-serif;
    font-size: 2rem;
}

/* Main Content */

.main-content {
    justify-self: flex-start;
    flex-grow: 1;
    padding: 1rem 0;
}

article {
    padding: 1rem 0;
}

/* Read */

.full-article {
    white-space: pre-wrap; /* Keeps line breaks in */
}

/* Footer */

footer {
    background-color: black;
    color: white;
    font-weight: 200;
}

footer p {
    margin: 1rem 0;
}

/* Compose */

form {
    grid-gap: 1rem;
    grid-template-columns: 1fr 3fr;
}

.compose-title {
    grid-column: 1/3;
}

.compose-text {
    grid-column: 1/3;
    resize: vertical;
}

.form-control:focus {
    border: 1px solid #ced4da;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #ced4da;
}